[user]
	name = Carl
	email = carl.robinson@gmail.com
[core]
	autocrlf = false
	safecrlf = true
	excludesfile = /Users/carl/.gitignore
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[credential]
	helper = osxkeychain
